<template>
  <div class="form-row">
    <a
      class="button"
      :class="{ shake: shake, confetti: confetti }"
      @click="checkApplication()"
    >
      <font-awesome-icon
        :icon="submitted ? ['fas', 'check'] : ['fas', 'paper-plane']"
      />
      {{ submitted ? submittedText : submitText }}
    </a>
  </div>
</template>
<script>
export default {
  props: ['submitted', 'submitText', 'submittedText', 'shake', 'confetti'],
  methods: {
    checkApplication() {
      if (!this.submitted) {
        this.$parent.checkApplication();
      }
    },
  },
};
</script>
