<template>
  <div class="form-row">
    <b-field class="field-container">
      <label class="label"
        >{{ label }}
        <span v-if="required" class="required-field">*</span></label
      >
      <b-input
        v-model="value"
        @input="handleInput()"
        type="textarea"
        maxlength="1000"
      ></b-input>
    </b-field>
  </div>
</template>
<script>
export default {
  props: ['label', 'required'],
  data() {
    return {
      value: null,
    };
  },
  methods: {
    handleInput() {
      this.$emit('input', this.value);
    },
  },
};
</script>
