<template>
  <div>
    <div class="shapes-container">
      <ul class="shapes">
        <li v-for="index in 15" :key="index"></li>
      </ul>
    </div>

    <div
      class="landing-section"
      data-aos="fade-down"
      data-aos-easing="ease-in-sin"
      data-aos-duration="1000"
    >
      <h1>Programmers Palace</h1>
      <div class="hr"></div>
      <h2>{{ $t('landing.subHeading') }}</h2>
      <a :href="this.inviteLink" class="button">
        <font-awesome-icon :icon="['fas', 'arrow-right-to-bracket']" />
        {{ $t('landing.buttonText') }}
      </a>
      <font-awesome-icon
        :icon="['fas', 'angle-down']"
        class="landing-arrow no-drag"
        :class="{ 'landing-arrow-hidden': scrollPosition > 50 }"
        @click="scrollToView('sections')"
      ></font-awesome-icon>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      scrollPosition: 0,
      inviteLink: 'https://invite.programmerspalace.com',
    };
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll);
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
    scrollToView(id) {
      document.getElementById(id).scrollIntoView({
        behavior: 'smooth',
      });
    },
  },
};
</script>
