<template>
  <div>
    <footer>
      <div class="footer-socials-container">
        <a href="https://twitter.com/PrgmrsPalace" target="_blank"
          ><font-awesome-icon :icon="['fab', 'twitter']"
        /></a>
        <a href="https://instagram.com/programmerspalace" target="_blank"
          ><font-awesome-icon :icon="['fab', 'instagram']"
        /></a>
        <a href="https://discord.com/invite/vG5uukx" target="_blank"
          ><font-awesome-icon :icon="['fab', 'discord']"
        /></a>
        <a href="mailto:programmerspalace@gmail.com" target="_blank"
          ><font-awesome-icon :icon="['fas', 'envelope']"
        /></a>
      </div>
      <span>© {{ year }} Programmers Palace. All Rights Reserved.</span>
    </footer>
  </div>
</template>
<script>
export default {
  data() {
    return {
      year: new Date().getUTCFullYear(),
    }
  },
}
</script>
