<template>
  <div>
    <div v-if="mobile">
      <div class="mobile-nav-item no-drag" @click="toggleMenu">
        <font-awesome-icon :icon="['fas', 'earth-americas']" />
        {{ $t('languageName') }}
        <font-awesome-icon
          :icon="['fas', 'angle-down']"
          :class="this.isActive ? 'fa-arrow-up' : 'fa-arrow-down'"
        />
      </div>
      <div
        class="no-drag"
        :class="
          this.isActive
            ? 'mobile-lang-dropdown-menu'
            : 'lang-dropdown-menu-hidden'
        "
      >
        <a
          v-for="lang in $i18n.locales"
          :key="lang.code"
          @click="changeLang(lang.code)"
        >
          <img class="lang-flag" :src="lang.flag" :alt="lang.code" />
          {{ lang.name }}
        </a>
      </div>
    </div>

    <div v-else class="lang-dropdown">
      <div class="lang-dropdown-button no-drag" @click="toggleMenu">
        <font-awesome-icon :icon="['fas', 'earth-americas']" />
        {{ $t('languageName') }}
        <font-awesome-icon
          :icon="['fas', 'angle-down']"
          :class="this.isActive ? 'fa-arrow-up' : 'fa-arrow-down'"
        />
      </div>
      <div
        class="no-drag"
        :class="
          this.isActive ? 'lang-dropdown-menu' : 'lang-dropdown-menu-hidden'
        "
      >
        <div class="lang-dropdown-triangle"></div>

        <ul @mouseleave="toggleMenu">
          <li
            v-for="lang in $i18n.locales"
            :key="lang.code"
            @click="changeLang(lang.code)"
          >
            <img class="lang-flag" :src="lang.flag" :alt="lang.code" />
            {{ lang.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isActive: false,
    };
  },
  props: {
    mobile: false,
  },
  methods: {
    toggleMenu() {
      this.isActive = !this.isActive;
    },
    changeLang(lang) {
      this.$i18n.setLocale(lang);
    },
  },
};
</script>
