<template>
  <div>
    <div v-if="mobile">
      <div
        class="mobile-nav-bar"
        :class="{ 'mobile-nav-bar-colored': scrollPosition > 50 }"
      >
        <nuxt-img
          src="/logo.png"
          format="webp"
          width="48"
          height="48"
          alt="Programmer Palace Logo"
          class="nav-logo no-drag"
          :class="{ 'nav-logo-hidden': scrollPosition < 50 && !mobileMenu }"
        />
        <p
          class="nav-title"
          :class="{ 'nav-title-hidden': scrollPosition < 50 && !mobileMenu }"
        >
          Programmers Palace
        </p>
        <font-awesome-icon
          :icon="mobileMenu ? ['fas', 'square-xmark'] : ['fas', 'bars']"
          :class="
            mobileMenu ? 'mobile-nav-icon-open' : 'mobile-nav-icon-closed'
          "
          class="mobile-nav-icon"
          @click="toggleMobileMenu"
        />
      </div>

      <Transition name="menu-transition">
        <div v-if="mobileMenu" class="mobile-nav-container">
          <div class="mobile-nav-menu">
            <div
              v-for="item in this.navItems"
              :key="item.id"
              :class="{ 'nav-item-colored': scrollPosition > 50 }"
              @click="toggleMobileMenu"
            >
              <a
                v-if="item.external || item.newTab"
                :href="item.external ? item.link : getLink(item.link)"
                :target="item.newTab ? '_blank' : '_self'"
                class="mobile-nav-item no-drag"
              >
                {{ $t(item.name) }}
              </a>
              <NuxtLink
                v-else
                :to="getLink(item.link)"
                class="mobile-nav-item no-drag"
              >
                {{ $t(item.name) }}
              </NuxtLink>
            </div>
            <a :href="this.inviteLink" class="mobile-nav-item">
              <div class="online-circle-container">
                <div class="online-circle-ring"></div>
                <div class="online-circle"></div>
              </div>
              {{ $t('onlineText') }}: {{ this.presenceCount }}
            </a>
            <Language-input :mobile="mobile" />
          </div>
        </div>
      </Transition>
    </div>

    <div
      class="nav-container"
      v-else
      :class="{ 'nav-container-colored': scrollPosition > 50 }"
    >
      <div class="nav-logo-container no-drag">
        <nuxt-img
          src="/logo.png"
          format="webp"
          width="48"
          height="48"
          alt="Programmer Palace Logo"
          class="nav-logo no-drag"
          :class="{ 'nav-logo-hidden': scrollPosition < 50 }"
        />
        <p
          class="nav-title"
          :class="{ 'nav-title-hidden': scrollPosition < 50 }"
        >
          Programmers Palace
        </p>
      </div>

      <div class="menu-container">
        <div class="nav-menu">
          <div
            v-for="item in this.navItems"
            :key="item.id"
            :class="{ 'nav-item-colored': scrollPosition > 50 }"
          >
            <a
              v-if="item.external || item.newTab"
              :href="item.external ? item.link : getLink(item.link)"
              :target="item.newTab ? '_blank' : '_self'"
              class="nav-item"
            >
              {{ $t(item.name) }}
            </a>
            <NuxtLink v-else :to="getLink(item.link)" class="nav-item">
              {{ $t(item.name) }}
            </NuxtLink>
          </div>
        </div>
        <Language-input />
        <a
          :href="this.inviteLink"
          class="discord-nav-item"
          :class="{ 'discord-nav-item-dark': scrollPosition < 50 }"
        >
          <div class="online-circle-container">
            <div class="online-circle-ring"></div>
            <div class="online-circle"></div>
          </div>
          {{ $t('onlineText') }}:
          <span class="online-number">{{ this.displayNumber }}</span>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
import navData from '~/data/nav-data.js';
export default {
  data() {
    return {
      windowWidth: null,
      mobile: false,
      mobileMenu: false,
      scrollPosition: 0,
      presenceCount: 0,
      displayNumber: 0,
      counter: false,
      discordApiUrl:
        'https://discordapp.com/api/guilds/267131764827357184/widget.json',
      inviteLink: 'https://invite.programmerspalace.com',
      navItems: navData,
    };
  },

  mounted() {
    window.addEventListener('scroll', this.updateScroll);
    window.addEventListener('resize', this.checkScreen);
    this.checkScreen();
    axios.get(this.discordApiUrl).then((response) => {
      this.presenceCount = response.data.presence_count;
      this.numberIncrementAnimation();
    });
  },
  methods: {
    checkScreen() {
      this.windowWidth = window.innerWidth;
      this.mobile = this.windowWidth < 800;
    },
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
    toggleMobileMenu() {
      this.mobileMenu = !this.mobileMenu;
    },
    numberIncrementAnimation() {
      clearInterval(this.counter);
      if (this.number === this.displayNumber) {
        return;
      }
      this.counter = setInterval(
        function () {
          if (
            Math.floor(this.displayNumber) !== Math.floor(this.presenceCount)
          ) {
            let change = (this.presenceCount - this.displayNumber) / 10;
            change = change >= 0 ? Math.ceil(change) : Math.floor(change);
            this.displayNumber = this.displayNumber + change;
          } else {
            this.displayNumber = this.presenceCount;
            clearInterval(this.counter);
          }
        }.bind(this),
        40
      );
    },
    getLink(link) {
      return !this.$i18n.locale || this.$i18n.locale === 'en'
        ? link
        : `/${this.$i18n.locale}${link}`;
    },
  },
};
</script>
