<template>
  <div id="sections" class="sections">
    <HomeSvg-shape v-if="sectionData.svgShape" />
    <div class="section">
      <div class="section-heading">
        <h2>{{ $t(sectionData.heading) }}</h2>
      </div>
      <div class="section-row">
        <div
          :class="`section-col ${
            sectionData.imagePosition == 'left' ? 'order-2' : 'order-1'
          }`"
          data-aos="fade-up"
          data-aos-duration="800"
        >
          <h2>{{ $t(sectionData.subHeading) }}</h2>
          <p>
            {{ $t(sectionData.paragraph) }}
          </p>
          <a
            v-if="sectionData.button"
            class="button"
            :href="sectionData.buttonLink"
          >
            <font-awesome-icon
              v-if="sectionData.icon"
              :icon="[sectionData.iconType, sectionData.iconName]"
            />
            {{ $t(sectionData.buttonText) }}</a
          >
        </div>
        <div
          v-if="sectionData.image"
          :class="`section-col ${
            sectionData.imagePosition == 'left' ? 'order-1' : 'order-2'
          }`"
          :data-aos="
            sectionData.imagePosition == 'left'
              ? 'fade-up-right'
              : 'fade-up-left'
          "
          data-aos-duration="1000"
        >
          <nuxt-img
            class="section-image no-drag"
            format="webp"
            :sizes="`sm:100vw md:75vw lg:${sectionData.imageWidth}px`"
            :width="sectionData.imageWidth"
            :height="sectionData.imageHeight"
            :src="sectionData.imageLocation"
            :alt="sectionData.imageAlt"
            :loading="sectionData.imageHighPriority ? 'eager' : 'lazy'"
            :preload="sectionData.imageHighPriority"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import AOS from 'aos';
export default {
  props: {
    sectionData: {
      type: Object,
      default: () => ({
        heading: 'Heading',
        subHeading: 'Sub Heading',
        paragraph: 'Sample Paragraph Text',
        button: false,
        buttonText: 'Button Text',
        buttonLink: '#',
        icon: false,
        iconType: '',
        iconName: '',
        image: false,
        imagePosition: 'right',
        imageLocation: '',
        svgShape: false,
      }),
    },
  },
  mounted() {
    AOS.init({
      once: true,
      disable: 'mobile',
    });
  },
};
</script>
