//Color Variables
$primary-blue: #1662bf;
$secondary-blue: #1358ab;
$primary-dark: #202020;
$secondary-dark: #1e1e1e;
$tertiary-dark: #121212;
$primary-white: #f1f1f1;
$primary-gray: #646464;
$secondary-gray: #999999;
$primary-box-shadow: rgba(0, 0, 0, 0.1);
$secondary-box-shadow: rgba(0, 0, 0, 0.3);

//Numeric Variables
$mobile-dimensions: 800px;
$primary-letter-spacing: 0.05rem;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Form Components
.form-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 22px 0px;
  padding: 40px;
  border-radius: 4px;
  width: 100%;
  max-width: 1100px;
}

.form-row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.field-container {
  width: 100%;
  margin: 0px auto !important;
  padding: 10px 20px;
  border-radius: 4px;
}

.field.has-addons {
  display: block;
}

.required-field {
  color: #ff0000;
}

::placeholder {
  color: $primary-gray !important;
}

label {
  color: $tertiary-dark !important;
}

.control-label {
  color: $tertiary-dark;
}

//Effects
$confetti-color1: #ff718d;
$confetti-color2: #78ff44;
$confetti-color3: #2acdfd;

.confetti:before,
.confetti:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

@keyframes topConfetti {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomConfetti {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.confetti {
  &:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(
        circle,
        $confetti-color2 20%,
        transparent 20%
      ),
      radial-gradient(
        circle,
        transparent 20%,
        $confetti-color3 20%,
        transparent 30%
      ),
      radial-gradient(circle, $confetti-color3 20%, transparent 20%),
      radial-gradient(circle, $confetti-color3 20%, transparent 20%),
      radial-gradient(
        circle,
        transparent 10%,
        $confetti-color3 15%,
        transparent 20%
      ),
      radial-gradient(circle, $confetti-color2 20%, transparent 20%),
      radial-gradient(circle, $confetti-color3 20%, transparent 20%),
      radial-gradient(circle, $confetti-color2 20%, transparent 20%),
      radial-gradient(circle, $confetti-color3 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
      15% 15%, 10% 10%, 18% 18%;
    display: block;
    animation: topConfetti ease-in-out 0.75s forwards;
  }
  &:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(
        circle,
        $confetti-color1 20%,
        transparent 20%
      ),
      radial-gradient(circle, $confetti-color2 20%, transparent 20%),
      radial-gradient(
        circle,
        transparent 10%,
        $confetti-color3 15%,
        transparent 20%
      ),
      radial-gradient(circle, $confetti-color2 20%, transparent 20%),
      radial-gradient(circle, $confetti-color3 20%, transparent 20%),
      radial-gradient(circle, $confetti-color3 20%, transparent 20%),
      radial-gradient(circle, $confetti-color1 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
      20% 20%;
    display: block;
    animation: bottomConfetti ease-in-out 0.75s forwards;
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

//Override for form components
.b-checkbox.checkbox:hover input[type='checkbox']:not(:disabled) + .check {
  border-color: $primary-blue !important;
}

.b-checkbox.checkbox input[type='checkbox']:focus:checked + .check {
  -webkit-box-shadow: 0 0 0.5em rgb(22 98 191 / 80%) !important;
  box-shadow: 0 0 0.5em rgb(22 98 191 /80%) !important;
}

.b-checkbox.checkbox input[type='checkbox']:checked + .check {
  background: $primary-blue
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:%23fff' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center center !important;
  border-color: $primary-blue !important;
}

.select select:active {
  border-color: $primary-blue !important;
  box-shadow: 0 0 0 0.125em rgb(22 98 191 / 25%) !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $primary-blue !important;
}

input[type='text'],
input[type='number'],
select,
textarea {
  background-color: hsl(0, 0%, 98%) !important;
  color: $tertiary-dark !important;
}

input[type='text']:focus,
input[type='number']:focus,
select:focus,
textarea:focus {
  border-color: $primary-blue !important;
  box-shadow: rgba(22, 98, 191, 0.25) 0px 0px 0px 2px !important;
}

//Desktop
@media screen and (min-width: $mobile-dimensions) {
  .field-container {
    flex: 1;
    width: auto;
  }
}
