//Color Variables
$primary-blue: #1662bf;
$secondary-blue: #1358ab;
$primary-dark: #202020;
$secondary-dark: #1e1e1e;
$tertiary-dark: #121212;
$primary-white: #f1f1f1;
$primary-gray: #646464;
$secondary-gray: #999999;
$primary-box-shadow: rgba(0, 0, 0, 0.1);
$secondary-box-shadow: rgba(0, 0, 0, 0.3);

//Numeric Variables
$mobile-dimensions: 800px;
$primary-letter-spacing: 0.05rem;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Landing Section
.landing-section {
  @include flex-center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.landing-section * {
  z-index: 1;
}

.landing-section h1 {
  text-align: center;
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
}

.landing-section h2 {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hr {
  width: 5rem;
  height: 0.1875rem;
  background-color: #fff;
  margin-bottom: 10px;
}

.landing-arrow {
  cursor: pointer;
  color: #fff;
  font-size: 3rem;
  position: absolute;
  top: 95vh;
  left: calc(50% - 25px);
  animation: MoveUpDown 1s linear infinite;
  transition: all 0.3s ease;
}

.landing-arrow-hidden {
  opacity: 0;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

//Landing section Background
.svg-shape-container {
  background-color: $primary-white;
  position: relative;
  margin-top: -1px;
}

.svg-shape-fill {
  fill: $secondary-blue;
}

.shapes-container {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0;
  left: 0;
  background: $primary-blue;
  background: linear-gradient(to bottom, $primary-blue, $secondary-blue);
  width: 100vw;
  height: 100vh;
}

.shapes {
  overflow: hidden;
}

.shapes li {
  position: absolute;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(200, 230, 255, 0.1);
  animation: animate 25s linear infinite;
  top: -150px;
}

@for $i from 1 through 15 {
  $size: random(115) + 35 + px;
  .shapes li:nth-child(#{$i}) {
    left: random(100) + 0%;
    width: $size;
    height: $size;
    animation-delay: random(12) + s;
    animation-duration: random(30) + 10 + s;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 5%;
  }

  100% {
    transform: translateY(1000px) rotate(720deg);
    opacity: 0;
    border-radius: 60%;
  }
}

//Desktop
@media screen and (min-width: $mobile-dimensions) {
  .landing-section h1 {
    font-size: 5rem;
  }

  .landing-section h2 {
    font-size: 2.2rem;
  }
}
