//Color Variables
$primary-blue: #1662bf;
$secondary-blue: #1358ab;
$primary-dark: #202020;
$secondary-dark: #1e1e1e;
$tertiary-dark: #121212;
$primary-white: #f1f1f1;
$primary-gray: #646464;
$secondary-gray: #999999;
$primary-box-shadow: rgba(0, 0, 0, 0.1);
$secondary-box-shadow: rgba(0, 0, 0, 0.3);

//Numeric Variables
$mobile-dimensions: 800px;
$primary-letter-spacing: 0.05rem;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Nuxt Router Transition
.page-enter-active,
.page-leave-active {
  transition: opacity 400ms ease, transform 400ms ease;
}

.page-enter,
.page-leave-to {
  opacity: 0.7;
  transform: translate3d(0, -30px, 0);
}

.page-leave,
.page-enter-to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

//Global Elements
* {
  margin: 0px;
  padding: 0px;
}

a,
span {
  color: #fff;
}

html,
body,
#__nuxt,
#__layout {
  font-family: 'Exo', sans-serif;
  background-color: $primary-white;
}

h2 {
  font-size: 1.7rem;
}

//Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $primary-white;
}

::-webkit-scrollbar-thumb {
  background: $primary-dark;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary-dark;
}

//Page Header
.page-header {
  @include flex-center;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-image: url(/background-patterns/1.webp);
  background-color: $primary-blue;
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.1);
  color: #fff;
}

.page-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: $primary-letter-spacing;
}

//Navigation
.nav-container {
  display: flex;
  opacity: 0;
  position: fixed;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 100%;
  height: 64px;
  z-index: 99;
  transition: all 200ms ease-out;
}

.nav-container-colored {
  background-color: $primary-dark;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
}

.menu-container {
  @include flex-center;
  gap: 15px;
}

.nav-menu {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
}

.nav-item {
  @include flex-center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: bold;
  letter-spacing: $primary-letter-spacing;
  padding: 0 15px;
}

.discord-nav-item {
  @include flex-center;
  gap: 5px;
  color: #fff;
  font-weight: bold;
  letter-spacing: $primary-letter-spacing;
  padding: 0 15px;
  background-color: #5865f2;
  height: 42px;
  box-shadow: 0 3px 7px 0 $primary-box-shadow;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
}

.nav-item-colored {
  transition: background-color 0.05s ease-in-out;
}

.discord-nav-item-dark {
  background-color: $primary-dark !important;
}

.discord-nav-item-dark:hover {
  background-color: $secondary-dark !important;
}

.discord-nav-item:hover {
  background-color: #5865f2;
  color: #fff;
  transform: translateY(-1px);
  box-shadow: 0 3px 10px 0 $secondary-box-shadow;
}

.online-circle-container {
  position: relative;
  margin-right: 15px;
}

.online-circle {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  background-color: #3de73d;
  border-radius: 50%;
}

.online-circle-ring {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  background-color: #3de73d;
  border-radius: 50%;
  animation: pulse 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes pulse {
  75%,
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.online-number {
  min-width: 4ch;
  text-align: center;
}

.nav-item:hover {
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 3px solid #fff;
  padding-top: 3px;
}

.nav-item-colored:hover {
  background-color: $tertiary-dark;
}

.nav-logo-container {
  display: none;
}

.nav-logo,
.nav-title {
  transition: all 100ms ease-in-out;
}

.nav-title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: $primary-letter-spacing;
}

.nav-logo-hidden,
.nav-title-hidden {
  opacity: 0;
}

//Mobile Navigation
.mobile-nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 64px;
  padding: 0 15px;
  z-index: 99;
}

.mobile-nav-bar-colored {
  background-color: $primary-dark;
}

.mobile-nav-icon {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  transition: all 200ms ease-in-out;
}

.mobile-nav-icon-closed {
  transform: rotate(0deg);
}

.mobile-nav-icon-open {
  transform: rotate(180deg);
}

.mobile-nav-container {
  position: fixed;
  background-color: $primary-dark;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.mobile-nav-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px;
  top: 64px;
  background-color: $primary-gray;
  border-top: 1px solid $primary-gray;
  border-bottom: 1px solid $primary-gray;
}

.mobile-nav-item {
  @include flex-center;
  cursor: pointer;
  gap: 5px;
  background-color: $primary-dark;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: $primary-letter-spacing;
  text-align: center;
  padding: 15px 0;
}

.mobile-nav-item:hover {
  color: #fff;
  background-color: $secondary-dark;
}

.menu-transition-enter-active,
.menu-transition-leave-active {
  transition: all 300ms ease-in-out;
}
.menu-transition-enter,
.menu-transition-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}

//Language dropdown
.lang-dropdown {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  letter-spacing: $primary-letter-spacing;
  background-color: $primary-dark;
  color: #fff;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}

.lang-dropdown-button {
  @include flex-center;
  gap: 8px;
  height: 42px;
  padding: 0 15px;
}

.lang-dropdown:hover {
  background-color: $secondary-dark;
}

.lang-dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 55px;
  animation: slideDown 100ms ease-in-out;
}

.lang-dropdown-menu ul {
  border-radius: 4px;
  box-shadow: 0 3px 7px 0 $secondary-box-shadow;
  background-color: $primary-dark;
  padding: 3px 5px;
}

.lang-dropdown-menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: $primary-dark;
  padding: 10px 15px;
}

.lang-dropdown-menu li:hover {
  background-color: $secondary-dark;
  transform: scale(1.05);
  transition: all 150ms ease-in-out;
}

.lang-dropdown-menu-hidden {
  display: none;
}

.lang-dropdown-triangle {
  width: 0;
  border-bottom: 20px solid $primary-dark;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin-bottom: -1px;
  z-index: 1;
}

.lang-flag {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.fa-arrow-down {
  transform: rotate(0deg);
  transition: transform 100ms ease-in-out;
}

.fa-arrow-up {
  transform: rotate(-180deg);
  transition: transform 100ms ease-in-out;
}

//Mobile Language dropdown
.mobile-lang-dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: $primary-letter-spacing;
  text-align: center;
  background-color: $primary-gray;
  border-top: 1px solid $primary-gray;
}

.mobile-lang-dropdown-menu a {
  display: flex;
  align-items: center;
  background-color: $secondary-dark;
  padding: 10px 20px;
  gap: 10px;
}

.mobile-lang-dropdown-menu a:hover {
  background-color: $tertiary-dark;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

//Sections
.section {
  @include flex-center;
  flex-direction: column;
  background-color: $primary-white;
  color: $tertiary-dark;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.section-heading {
  @include flex-center;
  text-align: center;
  margin-bottom: 20px;
}

.section-heading h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.section-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
}

.section-col {
  @include flex-center;
  flex-direction: column;
  flex: auto;
  gap: 25px;
  width: 100%;
  text-align: center;
}

.order-1,
.order-2 {
  order: 1;
}

.section-col h2 {
  font-size: 1.5rem;
}
.section-col p {
  font-size: 1.2rem;
}

.section-image {
  transition: all 300ms ease-in-out;
  transition-delay: 50ms;
}

.section-image:hover {
  transform: scale(1.02);
}

//footer
footer {
  @include flex-center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 50px;
  padding: 25px 0;
  background-color: $primary-dark;
  z-index: 1;
}

.footer-socials-container {
  @include flex-center;
  gap: 20px;
  font-size: 1.5rem;
}

.footer-socials-container a {
  transition: all 300ms ease-in-out;
}

.footer-socials-container a:hover {
  color: $secondary-gray;
  transform: translateY(-1px);
}

//Other
.no-drag {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.button {
  @include flex-center;
  gap: 10px;
  color: #fff;
  background-color: $primary-dark;
  padding: 1.4rem 1.6rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 15px $primary-box-shadow;
  font-weight: bold;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button:hover {
  color: #fff;
  background-color: $secondary-dark;
  box-shadow: 0px 8px 15px $secondary-box-shadow;
  transform: translateY(-2px);
}

.button:active {
  background-color: $tertiary-dark;
}

.button:focus {
  color: #fff;
}

.success-message {
  @include flex-center;
  text-align: center;
  background-color: #effaf5;
  color: #257953;
  padding: 1.25em 1.5em;
  border-radius: 4px;
}

//Desktop
@media screen and (min-width: $mobile-dimensions) {
  .nav-logo-container {
    @include flex-center;
    gap: 10px;
  }

  .section-heading {
    margin-bottom: 20px;
  }

  .section-heading h2 {
    font-size: 2rem;
  }

  .nav-container {
    opacity: 1;
    justify-content: space-between;
    padding: 0 20px;
  }

  .section-col h2 {
    font-size: 1.6rem;
  }

  .section-col p {
    font-size: 1.2rem;
  }

  .section-col {
    flex: 1;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }
}
