<template>
  <div>
    <Page-header :header="$t('contactUs.title')" />
    <Section :sectionData="this.sectionData" />

    <div class="section">
      <div class="form-container">
        <div v-if="!submitted">
          <div class="form-row">
            <b-field
              class="field-container"
              :type="{ 'is-danger': this.isDiscordTagValid === false }"
              :message="
                getTranslatedErrorMessage(
                  'contactUs.invalidDiscordTag',
                  this.isDiscordTagValid === false
                )
              "
            >
              <label class="label">
                {{ $t('contactUs.discordTag') }}
                <span class="required-field">*</span>
              </label>
              <b-input
                v-model="discordTag"
                @input="validate('discordTag', discordTag)"
                placeholder="user#1234"
                maxlength="37"
                icon="discord"
              >
              </b-input>
            </b-field>

            <b-field
              class="field-container"
              :type="{ 'is-danger': this.isEmailValid === false }"
              :message="
                getTranslatedErrorMessage(
                  'contactUs.invalidEmail',
                  this.isEmailValid === false
                )
              "
            >
              <label class="label"
                >{{ $t('contactUs.email') }}
                <span class="required-field">*</span></label
              >
              <b-input
                v-model="email"
                @input="validate('email', email)"
                placeholder="user@example.com"
                maxlength="50"
                icon="email"
              >
              </b-input>
            </b-field>
          </div>

          <FormTextarea
            v-for="field in textFields"
            :key="field.id"
            v-model="field.value"
            :label="field.label"
            :required="field.required"
          />
        </div>

        <div v-if="submitted" class="success-message">
          {{ $t('contactUs.thankYou') }}
        </div>

        <FormSubmit
          :submitted="submitted"
          :submitText="$t('contactUs.submit')"
          :submittedText="$t('contactUs.success')"
          :shake="shake"
          :confetti="confetti"
        />

        <div class="errors-container" v-if="errors.length">
          <b-message
            v-for="error in this.errors"
            :key="error.id"
            type="is-danger"
          >
            {{ error }}
          </b-message>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '~/assets/styles/form.scss';
</style>

<script>
import { contactUsSection } from '~/data/sections-data.js';
import axios from 'axios';

export default {
  layout: 'default',
  head() {
    return {
      title: `${this.$t('contactUs.title')} | Programmers Palace`,
    };
  },
  data() {
    return {
      sectionData: contactUsSection,
      errors: [],
      discordTag: null,
      isDiscordTagValid: null,
      email: null,
      isEmailValid: null,
      shake: false,
      confetti: false,
      submitted: false,
      textFields: [
        {
          label: this.$t('contactUs.message'),
          value: null,
          required: true,
        },
      ],
    };
  },
  methods: {
    getTranslatedErrorMessage(message, condition) {
      const obj = {};
      obj[this.$t(message)] = condition;
      return obj;
    },
    checkApplication() {
      this.errors = [];

      const errorChecks = [
        [
          this.discordTag,
          'discordTag',
          this.$t('contactUs.requiredDiscordTag'),
          this.$t('contactUs.invalidDiscordTagFull'),
        ],
        [
          this.email,
          'email',
          this.$t('contactUs.requiredEmail'),
          this.$t('contactUs.invalidEmailFull'),
        ],
      ];

      errorChecks.forEach((check) => {
        if (!check[0]) {
          this.errors.push(check[2]);
        } else if (!this.validate(check[1], check[0])) {
          this.errors.push(check[3]);
        }
      });

      for (let i = 0; i < this.textFields.length; i++) {
        const field = this.textFields[i];
        if (field.required && !field.value) {
          this.errors.push(this.$t('form.formIncomplete'));
          break;
        }
      }

      //If there are no errors
      if (!this.errors.length) {
        this.sendMessage();
      } else {
        this.shakeAnimation();
        this.$buefy.snackbar.open({
          duration: 5000,
          message: this.$t('form.failure'),
          type: 'is-danger',
          position: 'is-bottom',
          queue: false,
        });
      }
    },
    validate(type, value) {
      if (type === 'email') {
        let emailFormat =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}])|(([a-zA-Z\-\d]+\.)+[a-zA-Z]{2,}))$/;
        this.isEmailValid = emailFormat.test(value);
        return emailFormat.test(value);
      } else if (type === 'discordTag') {
        let tagFormat = /^.{3,32}#\d{4}$/;
        this.isDiscordTagValid = tagFormat.test(value);
        return tagFormat.test(value);
      } else {
        return true;
      }
    },
    sendMessage() {
      let embeds = [
        {
          title: 'Mod Mail  ✉️',
          color: 0x5fe70b,
          footer: {
            text: `📅 ${new Date().toLocaleDateString('en-GB')}`,
          },
          fields: [
            {
              name: 'Discord Tag:',
              value: `\`\`${this.discordTag}\`\``,
            },
            {
              name: 'Email:',
              value: `\`\`${this.email}\`\``,
            },
            {
              name: 'Message:',
              value: `${this.textFields[0].value}`,
            },
          ],
        },
      ];
      let data = JSON.stringify({ embeds });
      const code =
        'aHR0cHM6Ly9kaXNjb3JkLmNvbS9hcGkvd2ViaG9va3MvOTc0NDM0NTQ2NTU0NjQ2NTI4LzJnOWdRaUwtQjRLWkdtem1vV1RhQlJEZndMVUhZOThDdnppNHJrVEdlXzV4Ykx4T0xaMFdqQjVYdFJ6SElmQjNRLXJJ';
      const config = {
        method: 'POST',
        url: atob(code),
        headers: { 'Content-Type': 'application/json' },
        data: data,
      };
      axios(config)
        .then((response) => {
          return response;
        })
        .catch((error) => {
          this.$buefy.toast.open({
            duration: 5000,
            message: this.$t('form.submissionError'),
            position: 'is-bottom',
            type: 'is-danger',
          });
          return error;
        });
      this.submitted = true;
      this.confettiAnimation();
    },
    shakeAnimation() {
      this.shake = true;
      setTimeout(() => {
        this.shake = false;
      }, 1000);
    },
    confettiAnimation() {
      this.confetti = true;
      setTimeout(() => {
        this.confetti = false;
      }, 1000);
    },
  },
};
</script>
