<template>
  <div>
    <HomeLanding />
    <Section
      v-for="section in homeSections"
      :key="section.id"
      :sectionData="section"
    />
  </div>
</template>

<style lang="scss">
@import '~/assets/styles/home.scss';
</style>

<script>
import { homeSections } from '~/data/sections-data.js';

export default {
  layout: 'default',
  head() {
    return {
      meta: [
        {
          name: 'twitter:card',
          content: 'summary_large_image',
        },
      ],
    };
  },
  data() {
    return {
      homeSections: homeSections,
    };
  },
};
</script>
