<template>
  <div>
    <Page-header :header="$t('staffApplication.title')" />
    <Section :sectionData="this.sectionData" />

    <div class="section">
      <div class="form-container">
        <div v-if="!submitted">
          <div class="form-row">
            <b-field
              class="field-container"
              :type="{ 'is-danger': this.isDiscordTagValid === false }"
              :message="
                getTranslatedErrorMessage(
                  'staffApplication.invalidDiscordTag',
                  this.isDiscordTagValid === false
                )
              "
            >
              <label class="label">
                {{ $t('staffApplication.discordTag') }}
                <span class="required-field">*</span>
              </label>
              <b-input
                v-model="discordTag"
                @input="validate('discordTag', discordTag)"
                placeholder="user#1234"
                maxlength="37"
                icon="discord"
              >
              </b-input>
            </b-field>

            <b-field
              class="field-container"
              :type="{ 'is-danger': this.isEmailValid === false }"
              :message="
                getTranslatedErrorMessage(
                  'staffApplication.invalidEmail',
                  this.isEmailValid === false
                )
              "
            >
              <label class="label"
                >{{ $t('staffApplication.email') }}
                <span class="required-field">*</span></label
              >
              <b-input
                v-model="email"
                @input="validate('email', email)"
                placeholder="user@example.com"
                maxlength="50"
                icon="email"
              >
              </b-input>
            </b-field>
          </div>

          <div class="form-row">
            <b-field class="field-container">
              <label class="label">
                {{ $t('staffApplication.positionType') }}
                <span class="required-field">*</span>
              </label>
              <b-select
                v-model="position"
                :placeholder="$t('staffApplication.selectPosition')"
                icon="account"
                expanded
              >
                <option value="Moderator">
                  {{ $t('staffApplication.position.moderator') }}
                </option>
                <option value="Community Outreach">
                  {{ $t('staffApplication.position.community') }}
                </option>
                <option value="Teacher">
                  {{ $t('staffApplication.position.teacher') }}
                </option>
                <option value="Developer">
                  {{ $t('staffApplication.position.developer') }}
                </option>
              </b-select>
            </b-field>
            <b-field class="field-container">
              <label class="label">
                {{ $t('staffApplication.timeOnDiscord') }}
                <span class="required-field">*</span>
              </label>
              <b-input
                v-model="hours"
                step="any"
                placeholder="0"
                type="number"
                min="0"
                max="24"
              >
              </b-input>
            </b-field>
          </div>

          <FormTextarea
            v-for="field in textFields"
            :key="field.id"
            v-model="field.value"
            :label="field.label"
            :required="field.required"
          />
        </div>

        <div v-if="submitted" class="success-message">
          {{ $t('staffApplication.thankYou') }}
        </div>

        <FormSubmit
          :submitted="submitted"
          :submitText="$t('staffApplication.submit')"
          :submittedText="$t('staffApplication.success')"
          :shake="shake"
          :confetti="confetti"
        />

        <div class="form-row">
          {{ $t('staffApplication.submissionNote') }}
        </div>
        <div class="errors-container" v-if="errors.length">
          <b-message
            v-for="error in this.errors"
            :key="error.id"
            type="is-danger"
          >
            {{ error }}
          </b-message>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '~/assets/styles/form.scss';
</style>

<script>
import { staffApplicationSection } from '~/data/sections-data.js';
import axios from 'axios';
import FormTextarea from '~/components/form/textarea.vue';
import FormSubmit from '~/components/form/submit.vue';

export default {
  components: { FormTextarea, FormSubmit },
  layout: 'default',
  head() {
    return {
      title: `${this.$t('staffApplication.title')} | Programmers Palace`,
    };
  },
  data() {
    return {
      sectionData: staffApplicationSection,
      errors: [],
      discordTag: null,
      isDiscordTagValid: null,
      email: null,
      isEmailValid: null,
      position: null,
      hours: null,
      shake: false,
      confetti: false,
      submitted: false,
      textFields: [
        {
          label: this.$t('staffApplication.joinReason'),
          value: null,
          required: true,
        },
        {
          label: this.$t('staffApplication.experience'),
          value: null,
          required: true,
        },
        {
          label: this.$t('staffApplication.whatsSpecial'),
          value: null,
          required: true,
        },
        {
          label: this.$t('staffApplication.serverGoals'),
          value: null,
          required: true,
        },
        {
          label: this.$t('staffApplication.additional'),
          value: null,
          required: false,
        },
      ],
    };
  },
  methods: {
    getTranslatedErrorMessage(message, condition) {
      const obj = {};
      obj[this.$t(message)] = condition;
      return obj;
    },
    checkApplication() {
      this.errors = [];

      const errorChecks = [
        [
          this.discordTag,
          'discordTag',
          this.$t('staffApplication.requiredDiscordTag'),
          this.$t('staffApplication.invalidDiscordTagFull'),
        ],
        [
          this.email,
          'email',
          this.$t('staffApplication.requiredEmail'),
          this.$t('staffApplication.invalidEmailFull'),
        ],
        [
          this.position,
          'position',
          this.$t('staffApplication.positionRequired'),
          this.$t('staffApplication.invalidPosition'),
        ],
        [
          this.hours,
          'hours',
          this.$t('staffApplication.requiredTimeOnDiscord'),
          this.$t('staffApplication.invalidTimeOnDiscord'),
        ],
      ];

      errorChecks.forEach((check) => {
        if (!check[0]) {
          this.errors.push(check[2]);
        } else if (!this.validate(check[1], check[0])) {
          this.errors.push(check[3]);
        }
      });

      for (let i = 0; i < this.textFields.length; i++) {
        let field = this.textFields[i];
        if (field.required && !field.value) {
          this.errors.push(this.$t('form.formIncomplete'));
          break;
        }
      }

      //If there are no errors
      if (!this.errors.length) {
        this.sendApplication();
      } else {
        this.shakeAnimation();
        this.$buefy.snackbar.open({
          duration: 5000,
          message: this.$t('form.failure'),
          type: 'is-danger',
          position: 'is-bottom',
          queue: false,
        });
      }
    },
    validate(type, value) {
      if (type === 'email') {
        let emailFormat =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}])|(([a-zA-Z\-\d]+\.)+[a-zA-Z]{2,}))$/;
        this.isEmailValid = emailFormat.test(value);
        return emailFormat.test(value);
      } else if (type === 'discordTag') {
        let tagFormat = /^.{3,32}#\d{4}$/;
        this.isDiscordTagValid = tagFormat.test(value);
        return tagFormat.test(value);
      } else {
        return true;
      }
    },
    sendApplication() {
      let embeds = [
        {
          title: 'Staff Application 📝',
          color: 15158332,
          footer: {
            text: `📅 ${new Date().toLocaleDateString('en-GB')}`,
          },
          fields: [
            {
              name: 'Discord Tag:',
              value: `\`\`${this.discordTag}\`\``,
            },
            {
              name: 'Email:',
              value: `\`\`${this.email}\`\``,
            },
            {
              name: 'Position:',
              value: `${this.position}`,
            },
            {
              name: 'How many hours do you spend on Discord daily? (average)',
              value: `${this.hours}`,
            },
            {
              name: 'Why do you want to join our staff team?',
              value: `${this.textFields[0].value}`,
            },
            {
              name: 'Please describe your coding experience? If you applied for the social media position, describe your relevant experience as well.',
              value: `${this.textFields[1].value}`,
            },
            {
              name: 'Why should we accept you to the staff team (or as a social media person)?',
              value: `${this.textFields[2].value}`,
            },
            {
              name: 'What are your personal goals in the server / what goals do you have for the server?',
              value: `${this.textFields[3].value}`,
            },
          ],
        },
      ];

      //If user includes anything in the "Anything else we should know?" field.
      if (this.textFields[4].value) {
        let obj = {
          name: 'Anything else we should know?',
          value: `${this.textFields[4].value}`,
        };
        embeds[0].fields.push(obj);
      }

      let data = JSON.stringify({ embeds });
      const code =
        'aHR0cHM6Ly9kaXNjb3JkLmNvbS9hcGkvd2ViaG9va3MvOTcxNDkyNjY0OTA4MzM3MTgzL3d4RnNsOC1qMHVDSW9UOW00Sm1oemtVRnFTZEF4LUNyaDV6VHRNYXJjTGNFLWZtRFd5dEhfUjVaREoybERjV3RqVUFP';
      const config = {
        method: 'POST',
        url: atob(code),
        headers: { 'Content-Type': 'application/json' },
        data: data,
      };
      axios(config)
        .then((response) => {
          return response;
        })
        .catch((error) => {
          this.$buefy.toast.open({
            duration: 5000,
            message: this.$t('form.submissionError'),
            position: 'is-bottom',
            type: 'is-danger',
          });
          return error;
        });
      this.submitted = true;
      this.confettiAnimation();
    },
    shakeAnimation() {
      this.shake = true;
      setTimeout(() => {
        this.shake = false;
      }, 1000);
    },
    confettiAnimation() {
      this.confetti = true;
      setTimeout(() => {
        this.confetti = false;
      }, 1000);
    },
  },
};
</script>
